$dark: #333745;
$dark-fade: linear-gradient(135deg, #333745 0%, #1A1D27 100%);
$primary: #E63462;
$primary-fade: linear-gradient(135deg, #E63462 0%, #BD284F 100%);
$gray-white: #EEEEEE;
$white: #FFFFFF;

$fade-w-image: url('@/assets/images/fade.png');
